<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:lang="http://www.springframework.org/schema/lang"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     						 http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                           http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.0.xsd    
                           http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd">

 <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
		    <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		    <property name="url" value="jdbc:oracle:thin:@172.16.200.222:1521:traindb"/>
		    <property name="username" value="snagandla"/>
		    <property name="password" value="prokarma"/>
    </bean> 
        <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="defaultusers" class="com.prokarma.mvccontroller.DefaultEmployeesController"></bean>
    <bean name="employee" class="com.prokarma.pojo.Employee"></bean>
    <bean name="daoimpl" class="com.prokarma.dao.DaoImpl"></bean>
	<bean name="welcomeController" class="com.prokarma.mvccontroller.WelcomeController" />
	<bean name="addUser" class="com.prokarma.mvccontroller.AddUser"></bean>
	<bean name="allusers" class="com.prokarma.mvccontroller.AllUsers"></bean>
	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="">welcomeController</prop>
				<prop key="welcome">welcomeController</prop>
				<prop key="welc*">welcomeController</prop>
				<prop key="adduser">addUser</prop>
				<prop key="add*">addUser</prop>
				<prop key="allusers">allusers</prop>
				<prop key="all*">allusers</prop>
				<prop key="users">defaultusers</prop>
			</props>
		</property>
	</bean>
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
 <context:component-scan base-package="com.prokarma"></context:component-scan>
</beans>