<?xml version="1.0" encoding="UTF-8"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-2.0.xsd" 
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns="http://www.springframework.org/schema/beans">


<bean class="org.apache.activemq.ActiveMQConnectionFactory" id="connectionFactory">

<property value="tcp://localhost:61616" name="brokerURL"/>

</bean>


<bean class="org.apache.activemq.command.ActiveMQQueue" id="sampleQueue">

<constructor-arg value="spring.sample.queue"/>

</bean>

</beans>