<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
   <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:oracle:thin:@172.16.203.151:1521:traindb</param-value>
  </context-param>
   <context-param>
    <param-name>dbUser</param-name>
    <param-value>akulakarni</param-value>
  </context-param>
   <context-param>
    <param-name>dbPassword</param-name>
    <param-value>prokarma</param-value>
  </context-param>
  
   <listener>
   	<listener-class>com.prokarma.week10.AppContextListener</listener-class>
   </listener>
   <servlet>
   	<servlet-name>Calculation</servlet-name>
   	<display-name>Calculation</display-name>
   	<description></description>
   	<servlet-class>com.prokarma.week10.Calculation</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>Calculation</servlet-name>
   	<url-pattern>/Calculation</url-pattern>
   </servlet-mapping>
    <welcome-file-list>
  <welcome-file>TaskList.jsp</welcome-file>
  </welcome-file-list>
</web-app>
